
Signos de LLAVES { }
header{
    height: 96px;
}
.header{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0px 205px 0px;
    font: inherit;
}
.header-main{
    justify-content: left;
    margin-right: 400px;
}
.header-main img{
    width: 265px;
    height: 65px;
}
.header-media ul li{
    display: inline-block;
    margin-left: 10px;
}
.header-media ul li a img{
    width: 40px;
    height: 40px;
}
.header-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 37px;
    padding: 10px 205px 11px 205px;
    margin-bottom: 20px;
    background-color: #EFEFF8;
}
.header-nav ul li, .header-nav ul input{
    display: inline-block;
    margin-right: 10px;
}
.header-nav ul li a{
    text-decoration: none;
    font-weight: lighter;
    color: #000;
}

.container {
    margin: 0 20.40px;
    text-align: center;    
 }

.options {
    font-size: .75rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 7px 0;
    width: 940px;
    height: 38px;
 }
 .container h1 {
    color: #000;
    font-size: 2rem;
    margin-bottom: .625rem;
    line-height: 1.3125;  
 }
 .container author { 
     width: 161.925px;
     height: 40px;
 }

